body.general {
    margin: 60px auto;
    font-weight: bold;
    width: 70%;
    color: #8A8A8A;
    background: #EFEFEF;
}
body.index {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: "indexbackground.jpg" no-repeat center center fixed;
}
    
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #FF3B3F;
}
a:hover {
    text-decoration: underline;
    color: blue;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 1.75em;
    color: #FF3B3F;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin-right: 30px;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #8A8A8A;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
