body.general {
    margin: 60px auto;
    font-weight: bold;
    width: 70%;
    color: #8A8A8A;
    background: #EFEFEF;
}
body.index {
    margin: 60px auto;
    font-weight: bold;
    width: 70%;
    color: #8A8A8A;
    background: url("../indexbackround.JPG") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}    
nav ul, footer ul {
    font-family: 'Trebuchet MS', 'Helvetica', 'sans-serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #FF3B3F;
}
a:hover {
    text-decoration: underline;
    color: #CAEBF2;
}
h1 {
    font-size: 3em;
    font-family: 'Trebuchet MS', 'Helvetica', 'sans-serif';
}
h2 {
    font-size: 1.75em;
    color: #FF3B3F;
    font-family: 'Trebuchet MS', 'Helvetica', 'sans-serif';
    margin-right: 30px;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #8A8A8A;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #8A8A8A;
    padding: 5px;
    font-size: 1.2em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
    padding: 20px;
}
